// 提供蒙版
.ProvideMask() {
	&-mask {
		.fixed;
		.top-0;
		.w-screen;
		.h-screen;
		.opacity-0;
		/* #ifdef H5 */
		.cursor-pointer;
		/* #endif */
		
		pointer-events: none;
		transition: all 0.3s ease;
		will-change: transform, opacity;
		background-color: rgba(38, 38, 38, 0.7);
		&-show {
			.opacity-100;
			pointer-events: auto;
		}
	}
}